In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("classification_data1_clss.csv")

In [3]:
df.head()

,id,social-security-number,house-number,age-group,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country-code,native-country,class
0,8616,830617145.0,8732.0,2.0,self-emp-inc,270079.0,bachelors,13.0,married-civ-spouse,exec-managerial,husband,white,male,0.0,0.0,3.0,USA,united-states,1
1,21982,151595184.0,1894.0,3.0,local-gov,146325.0,doctorate,16.0,married-civ-spouse,prof-specialty,husband,white,male,0.0,2.0,2.0,USA,united-states,1
2,11191,303184281.0,9466.0,0.0,private,240767.0,hs-grad,9.0,never-married,other-service,not-in-family,white,female,0.0,0.0,1.0,USA,united-states,0
3,22229,369287837.0,8511.0,2.0,private,118536.0,hs-grad,9.0,divorced,machine-op-inspct,other-relative,black,male,0.0,0.0,2.0,USA,united-states,0
4,20732,420084973.0,1281.0,3.0,private,160440.0,bachelors,13.0,married-civ-spouse,sales,husband,white,male,0.0,0.0,3.0,USA,united-states,1

# house-number

In [4]:
df.isnull().sum()

id                           0
social-security-number      14
house-number                27
age-group                   13
workclass                 1057
fnlwgt                      23
education                   20
education-num               14
marital-status              23
occupation                1054
relationship                21
race                        22
sex                         22
capitalgain                 23
capitalloss                 21
hoursperweek                21
native-country-code        399
native-country             398
class                        0
dtype: int64

In [5]:
df.isnull().sum().sum()

3172

In [6]:
df.nunique()

id                        20900
social-security-number    20885
house-number               8719
age-group                     5
workclass                     8
fnlwgt                    15042
education                    16
education-num                16
marital-status                7
occupation                   14
relationship                  6
race                          5
sex                           2
capitalgain                   5
capitalloss                   5
hoursperweek                  5
native-country-code          40
native-country               41
class                         2
dtype: int64

In [7]:
df[df['house-number'].isnull()]

,id,social-security-number,house-number,age-group,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country-code,native-country,class
233,26886,118671723.0,NaN,0.0,private,25265.0,hs-grad,9.0,never-married,craft-repair,own-child,white,male,0.0,0.0,2.0,USA,united-states,0
417,7286,104235482.0,NaN,2.0,state-gov,152307.0,bachelors,13.0,married-civ-spouse,prof-specialty,husband,white,male,0.0,0.0,2.0,USA,united-states,0
425,11014,938225326.0,NaN,3.0,state-gov,391585.0,bachelors,13.0,married-civ-spouse,exec-managerial,husband,white,male,4.0,0.0,2.0,USA,united-states,1
2730,7513,761679180.0,NaN,1.0,private,186886.0,hs-grad,9.0,divorced,exec-managerial,unmarried,white,female,0.0,0.0,3.0,USA,united-states,0
3460,14952,609831688.0,NaN,3.0,self-emp-not-inc,275625.0,bachelors,13.0,divorced,other-service,unmarried,asian-pac-islander,female,0.0,0.0,3.0,ZAF,south,1
3482,25062,909798730.0,NaN,0.0,private,52242.0,hs-grad,9.0,married-civ-spouse,sales,wife,white,female,0.0,0.0,2.0,USA,united-states,1
3941,15750,402344671.0,NaN,2.0,private,116379.0,masters,14.0,married-civ-spouse,prof-specialty,husband,asian-pac-islander,male,0.0,0.0,3.0,TWN,taiwan,1
4111,26365,570186797.0,NaN,1.0,private,239130.0,prof-school,15.0,never-married,prof-specialty,own-child,white,male,0.0,0.0,2.0,USA,united-states,0
4244,5952,769529776.0,NaN,0.0,private,31350.0,hs-grad,9.0,never-married,handlers-cleaners,not-in-family,white,male,0.0,0.0,3.0,GBR,england,0
5161,18277,738208830.0,NaN,1.0,private,118901.0,hs-grad,9.0,separated,machine-op-inspct,not-in-family,white,female,0.0,0.0,2.0,USA,united-states,0
5932,8455,806914607.0,NaN,0.0,private,221661.0,10th,6.0,never-married,sales,not-in-family,white,female,0.0,0.0,1.0,MEX,mexico,0
7733,1497,552150936.0,NaN,2.0,self-emp-inc,170174.0,hs-grad,9.0,married-civ-spouse,exec-managerial,husband,white,male,0.0,0.0,3.0,USA,united-states,1
10335,18179,224840689.0,NaN,2.0,self-emp-not-inc,160120.0,doctorate,16.0,divorced,adm-clerical,other-relative,other,male,0.0,0.0,2.0,NaN,NaN,0
11373,13806,470312942.0,NaN,0.0,NaN,208874.0,some-college,10.0,never-married,NaN,own-child,white,male,0.0,0.0,2.0,USA,united-states,0
11413,20512,410747056.0,NaN,1.0,local-gov,104509.0,masters,14.0,separated,prof-specialty,unmarried,white,female,0.0,0.0,2.0,USA,united-states,0
11734,3400,819433321.0,NaN,2.0,self-emp-inc,172826.0,some-college,10.0,married-civ-spouse,sales,husband,white,male,4.0,0.0,3.0,USA,united-states,1
12180,22546,116342765.0,NaN,2.0,private,319052.0,bachelors,13.0,married-civ-spouse,handlers-cleaners,wife,asian-pac-islander,female,0.0,0.0,2.0,PHL,philippines,0
12440,13068,721371548.0,NaN,3.0,self-emp-not-inc,117865.0,hs-grad,9.0,married-af-spouse,craft-repair,husband,white,male,0.0,0.0,4.0,USA,united-states,0
12899,27433,348990921.0,NaN,2.0,private,231689.0,hs-grad,9.0,married-civ-spouse,craft-repair,husband,white,male,0.0,0.0,2.0,USA,united-states,1
13409,8627,497175718.0,NaN,2.0,local-gov,131167.0,masters,14.0,never-married,prof-specialty,not-in-family,white,female,0.0,0.0,2.0,USA,united-states,0
15260,4567,720126690.0,NaN,1.0,private,341846.0,masters,14.0,never-married,prof-specialty,not-in-family,white,female,0.0,0.0,3.0,USA,united-states,0
15458,17228,319958261.0,NaN,0.0,private,187879.0,9th,5.0,never-married,other-service,not-in-family,white,male,0.0,0.0,3.0,USA,united-states,0
15962,11281,524009976.0,NaN,0.0,NaN,113301.0,11th,7.0,separated,NaN,not-in-family,white,female,0.0,0.0,1.0,USA,united-states,0
16091,8252,739220784.0,NaN,1.0,private,189407.0,hs-grad,9.0,married-civ-spouse,sales,husband,white,male,0.0,0.0,3.0,USA,united-states,0
19261,22569,461664464.0,NaN,2.0,private,498785.0,hs-grad,9.0,married-civ-spouse,handlers-cleaners,husband,white,male,0.0,0.0,2.0,USA,united-states,0
19700,14231,719763858.0,NaN,4.0,private,200922.0,7th-8th,4.0,widowed,machine-op-inspct,not-in-family,white,female,0.0,0.0,2.0,USA,united-states,0
19926,21833,137185385.0,NaN,3.0,NaN,32385.0,hs-grad,9.0,divorced,NaN,not-in-family,white,female,0.0,0.0,1.0,USA,united-states,0

In [34]:
# Fill missing values in the 'house-number' column
df['house-number'].fillna('Not Provided', inplace=True)

# Get rows where 'house-number' was originally null
house_number = df[df['house-number'].isnull()]

# Print the rows with null values in 'house-number' before filling
print(house_number)

Empty DataFrame
Columns: [id, social-security-number, house-number, age-group, workclass, fnlwgt, education, education-num, marital-status, occupation, relationship, race, sex, capitalgain, capitalloss, hoursperweek, native-country-code, native-country, class]
Index: []

In [35]:
df_house_number = df.query("`house-number` == 'Not Provided'")
df_house_number.head()

,id,social-security-number,house-number,age-group,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capitalgain,capitalloss,hoursperweek,native-country-code,native-country,class
233,26886,118671723.0,Not Provided,0.0,private,25265.0,hs-grad,9.0,never-married,craft-repair,own-child,white,male,0.0,0.0,2.0,USA,united-states,0
417,7286,104235482.0,Not Provided,2.0,state-gov,152307.0,bachelors,13.0,married-civ-spouse,prof-specialty,husband,white,male,0.0,0.0,2.0,USA,united-states,0
425,11014,938225326.0,Not Provided,3.0,state-gov,391585.0,bachelors,13.0,married-civ-spouse,exec-managerial,husband,white,male,4.0,0.0,2.0,USA,united-states,1
2730,7513,761679180.0,Not Provided,1.0,private,186886.0,hs-grad,9.0,divorced,exec-managerial,unmarried,white,female,0.0,0.0,3.0,USA,united-states,0
3460,14952,609831688.0,Not Provided,3.0,self-emp-not-inc,275625.0,bachelors,13.0,divorced,other-service,unmarried,asian-pac-islander,female,0.0,0.0,3.0,ZAF,south,1

##

In [21]:
df.isnull().sum()

id                           0
social-security-number      14
house-number                 0
age-group                   13
workclass                 1057
fnlwgt                      23
education                   20
education-num               14
marital-status              23
occupation                1054
relationship                21
race                        22
sex                         22
capitalgain                 23
capitalloss                 21
hoursperweek                21
native-country-code        399
native-country             398
class                        0
dtype: int64